@tailwind base;
@tailwind components;
@tailwind utilities;

#tableAsignaturas{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
}

#tableAsignaturas td, #tableAsignaturas th{
    border: 1px solid #000;
    text-align: center;
}